.background {
  min-height: 100vh;
  background-image: url('/images/auth-backdrop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 16px 60px;
}